:root {
  background-color: darkblue;
  font-size: 20px;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root * {
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#player-nav {
  display: flex;
}

#player-nav button {
  flex: 1 1 auto;
  border: none;
  background-color: darkblue;
  color: white;
  font-size: 108px;
}

#player-nav button.player-active {
  background-color: orange;
  color: darkblue;
  text-decoration: underline;
}

#player-main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  align-items: center;
}

#score-parent {
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#score {
  margin: 0;
  font-size: 300px;
}

#debug-panel {
  display: none;

  font-size: 16px;
  line-height: 0;
  gap: 4px;

  align-items: center;

  padding: 0 16px 0 16px;
}

#debug-panel.debug-show {
  display: flex;
  background-color: darkred;
}

.vr {
  border-right: thin solid white;
  margin-left: 4px;
  margin-right: 4px;
  height: 80%;

  align-self: center;
}

#refresh-page {
  justify-self: end;
}

#darts-parent {
  flex: 1 1 auto;
  font-size: 108px;
  margin: 0;
}

#darts-parent span.rocket:not(.rocket-show) {
  display: none;
}

#darts-parent span.rocket-show {
  display: inline;
}
